{% extends 'base.html' %}

{% block body %}


   <style>
   .staticmap{
    width: 15rem;
    height: 6rem;
    background-color: #adcba1;
   }
   button{
       margin: .7rem;
   }
   .nm{
       width: 8rem;
    height: 4rem;
    background-color: #c2c3c3;
   }
   .buton{
       padding: 2rem;
    margin-left: 10rem;


   }
   </style>


   <body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img class="navbar-brand" src="#" alt="Logo">
   
  </div>
</nav>

<div class="container buton">
<div class="container">
<button type="button" class="btn btn-dark ">Camera 1</button>
<button type="button" class="btn btn-dark ">Camera 2</button>
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-danger">Off</button>
 
  <button type="button" class="btn btn-success">ON</button>
</div>
</div>
<div class="container">
<button type="button" class="btn staticmap">Static Map</button>
<button type="button" class="btn nm">Speed</button>
<button type="button" class="btn nm">{{object.Average Speed}}</button>
</div>
<div class="container">
<button type="button" class="btn nm">{{object.Enginestatus}}</button>
<button type="button" class="btn nm">{{object.FuelLevel}}</button>
<button type="button" class="btn nm">{{object.temperature}}</button>
</div>
</div>

   
   </body>
   {% endblock body %}